<%- include("partials/header") %>

<div class="section-top d-flex justify content-center align-items-center mb-5">
  <div class="content mt-5 mb-0">
    <h1 class="text-center">Welcome To <span>The Seven Wonders Of The World</span></h1>
    <div class="d-flex justify-content-center">
        <p>“The world's seven wonders stand the test of time, truth, love, joy, faith, peace, virtue, and wisdom.”
            ― Matshona Dhliwayo</p>
    </div>
    <div class="d-flex arrow justify-content-center align-items-end">
        <span id="downward-arrow"> <i class=" mb-3 mb-md-0 fas fa-angle-double-down"></i></span>
    </div>
  </div>

</div>

<div class="container">
        <div class="row justify-content-between mb-5">
            <% monument.forEach(function(monument){ %>
            <div class="col-lg-6 col-sm-12 col-md-6 my-sm-30 my-lg-30 mx-sm-1 mx-md-0 d-flex justify-content-center">
                <div>
                    <div>
                        <h4 id="monumentName"><%= monument.name %></h4>
                    </div>
                    <div class="d-md-flex justify-content-md-center">
                        <img id="welcome" class="rounded-lg mt-3" src="<%= monument.image %>">
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-dark m-3" href="/monuments/<%= monument._id %>">More Info</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
</div>

<%- include("partials/footer") %>
